body{
	margin: auto;
	background-color: green;

}

#container{
	margin-top: 15%;
}

h2{
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	font-size: x-large;
	color: #fff;
}

#to{
	text-align: center;
	color: yellow;
}
p{
	color: #fff;
}

.or{
	text-align: center;
	color: yellow;
}

#hm{
	color: white;
	text-align: center;
}
.hm2{
	text-decoration: none;
}