body{
	background-color: gray;
	height: 100%;
}
	#container{
		background-color: brown;
		width: 40%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 5px;
		margin-top: 15%;
	}

	@media screen and (max-width:600px) {
	    #container{
	        width: 90%;
	    }
	} 

	hr{
		color: #3333ff;
		margin: auto;
		border: 1px solid blue;

	}

		h3{
			margin: auto;
			background-color: #663308;
		}

		img{
			height: 50px;
			width: 50px;
			margin: 5px;


	}


		fieldset{
			margin-top: 10px;
		}

			legend{
					color: #ffffff;
					font-size: x-large;
					border: 1px solid white;
					background-color: green;
					text-transform: capitalize;
				}

				#user{
					display: block;
				}

				.username, .email{
					font-size: large;
					font-family: serif;
					font-style: normal;
					text-transform: capitalize;
					color: white;
					margin-top: 30px;
					font-weight: bolder;
					display: inline-block;
				}

				@media screen and (max-width:600px) {
	    				.username, .email{
	        				display: block;
	    				}
					} 

				button{
  						height: 2.6em;
  						width: 2.6em;  	
  						display: inline-block;					
					}


					.userinp{
						width: 50%;
						border-radius: 3px;
						font-family: sans-serif;
						font-size: small;
						box-sizing: border-box;
						border: 1px solid blue;
						margin-left: 3px;
						background-size: 32px;
    					background-repeat: no-repeat;
    					padding: 8px 1px 9px 35px;
						background-image: url("pic/comment.jpg");
					}
					.userinp:focus{
						width: 40%;
						transition: width 0.4s ease-in-out;
					}

					.emailinp{
						width: 50%;
						border-radius: 3px;
						font-family: sans-serif;
						font-size: small;
						padding: 7px 2px 14px 10px;
						box-sizing: border-box;
						border: 1px solid blue;
						margin-left: 35px;
						background-size: 32px;
    					background-repeat: no-repeat;
    					padding: 8px 1px 9px 35px;
						background-image: url("pic/comment.jpg");
					}
					.emailinp:focus{
						width: 70%;
						transition: width 0.4s ease-in-out;
					}

					button, .userinp{
						display: inline-block;
						margin-top: 8px;
					}


					@media screen and (max-width:600px) {
	    				.userinp, .emailinp{
	        				width: 60%;
	        				color: black;
	        				margin-left: 2px;
	    				}
					} 


						
							footer{
								margin-top: 40px;
								height: 100%
							}

							input.ok{
								color: white;
								background-color: green;
								width: 15%;
								height: 30px;
								font-size: small;
							}

							input.cancel{
								color: white;
								background-color: red;
								width: 15%;
								height: 30px;
								font-size: small;
							}


								a{
									color: blue;
									text-decoration: none;
								}
								
								#remdiv{
									display: block;
									margin-top: 10px;
								}
								.rem{
									display: inline-block;
								}

								.remember{
									font-size: small;
									color: white;
								}


							.reg{
								font-size: small;
								float: right;
								margin-top: 10px;
								color: white;
							}

